iframe {
    width: 100%;
    height: 190px;
    border: 0;
}

.steam-widget {
    width: 50%;
}

@media only screen and (max-width: 600px) {
    iframe {
        width: 100%;
    }

    .steam-widget {
        width: 100%;
    }
}